


header {
    background-color: dimgrey;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;


}

body {
    text-align:-webkit-left;
    background-color: dimgrey;
    font-family: "Lato";
    margin: 0;

}

nav {
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

nav a {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    float: left;
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;

}

nav a:hover {
    background-color: #ddd;
    color: black;
}

a {

    text-decoration: none;
    color: whitesmoke;
}

.text {
    float: left;
    width: 50%;
    padding: 15px;
    border-style: solid;
    border-width: thin;
    background-color: cadetblue;
    margin: 1px;
    text-align: center;
    font-size: 10px;



}


