* {
    box-sizing: border-box;
}

body {
    background-color: dimgrey;
    font-family: "Agency FB";
    margin: 0;

}


header {
    background-color: dimgrey;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;


}

nav {
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;

}

nav a {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    float: left;
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;

}

nav a:hover {
    background-color: #ddd;
    color: black;
}

a {

    text-decoration: none;
    color: whitesmoke;
}

footer {
    background-color: dimgrey;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;


}

.column {
    float: left;
    width: 33%;
    padding: 15px;
    border-style: solid;
    border-width: thin;
    background-color: cadetblue;
    margin: 1px;
    font-size: 30px;

}

.column::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}