header {
    text-align: center;
    background-color: aliceblue;
    font-family: Bahnschrift;
}
body {
    text-align: -webkit-left;
    background-color: cadetblue;
    font-family: Bahnschrift;

}
.text {
    font-size: 12px;
    padding-left: 620px;


}
.container {
    display: flex;
    align-items: center;
    justify-content: center
}


