header {
    background-color: dimgrey;
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
    height: 100px;
    color: whitesmoke;
}

body {
    text-align: -webkit-left;
    background-color: white;
    font-family: "Lato";
    margin: 0px;

}

nav {
    margin-top: -50px;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

nav a {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    float: left;
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;

}

nav a:hover {
    background-color: #ddd;
    color: black;
}

a {

    text-decoration: none;
    color: whitesmoke;
}

.slides {
    border-radius: 25px;
    margin-top: 50px;
    display: block;
    margin-left: 200px;
    margin-right: 500px;
    width: 50%;
}

.details {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 500px;
    background-color: #eafdff;
    text-align: center;
    font-size: 20px;
    border: 1px solid lightgrey;
    float: top;
    width: 50%;

}

.section1 {
    display: block;
    right: 0;
    width: 400px;
    height: 600px;
    margin-top: 50px;
    margin-right: 200px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    background-color: #eafdff;
    padding: 50px;
    position: fixed;
}

.preis {
    text-align: center;
}

.verfügbarkeit {
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 100px
}

.kalender {
    padding: 1px;
    width: 100%;
    background: darkgrey;
    text-align: center;
    margin-top: -50px;
}

.wochentage {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.wochentage li {
    display: inline-block;
    width: 12.6%;
    color: #666;
    text-align: center;
}

.tage {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.tage li {
    list-style-type: none;
    display: inline-block;
    width: 12.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.tage li:hover {
    background-color: #ddd;
    color: black;
}

.tage li .active {
    background: orangered;
    color: white;
    padding: 5px;
}

.karte {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 500px;
    background-color: #eafdff;
    text-align: center;
    border: 1px solid lightgrey;
    float: top;
    width: 50%;
}

.kontakt {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 500px;
    background-color: #eafdff;
    text-align: center;
    font-size: 25px;
    border: 1px solid lightgrey;
    float: top;
    width: 50%;

}

.bewertungen {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 500px;
    background-color: #eafdff;
    text-align: center;
    font-size: 25px;
    border: 1px solid lightgrey;
    float: top;
    width: 50%;
    margin-bottom: 100px;

}

p {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}

footer {
    background-color: dimgrey;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;


}